body{
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   justify-content:safe;
   background: url(https://images.unsplash.com/photo-1506869640319-fe1a24fd76dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
   background-size: cover;
   background-position: center;
   overflow: hidden;
}

h1{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    text-align: center;

}
.clock{
    display: flex;

}

.clock div{
    margin: 7px;
    position: relative;

}

.clock span{
    width: 120px;
    height: 88px;
    background-color: rgb(75, 70, 47);
    opacity: .8;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    text-shadow: 1px 1px;
}

.clock .text{
    height: 40px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(7, 1, 1);
    opacity: 0.8;
}

.clock #ampm{
    bottom: 0;
    position: absolute;
    background: rgb(15, 3, 3);
    width: 60px;
    height: 40px;
    font-size: 30px;
}
